/* 🌐 Style général */
body {
  font-family: Arial, sans-serif;
  background-color:rgba(255, 255, 255, 0.868);
  margin: 0;
}

/* 🔷 Navbar */
.navbar {
  background-color: #0d6efd;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
}

/* 🏠 Titres */
h1, h2, h3 {
  color: #0d6efd;
}

/* 📦 Cartes */
.card {
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* 🖼️ Images */
img {
  border-radius: 10px;
}

/* 🔘 Boutons */
.btn {
  border-radius: 20px;
  padding: 10px 20px;
}

/* 📅 Formulaire */
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* 📊 Tableau */
table {
  background: white;
}

/* 📍 Localisation */
iframe {
  border-radius: 10px;
}

/* 📞 Contact */
.contact-card {
  background: rgb(8, 66, 105);
  padding: 20px;
  border-radius: 10px;
}

/* 🔻 Footer */
footer {
  background-color: #09090a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
body {
  background: linear-gradient(to right, #ffffff);
  font-family: Arial, sans-serif;
}

.login-box {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

h3 {
  color: #0d6efd;
  font-weight: bold;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.id  {
  background-image: ;